@import url('../forms.css');
@import url('../buttons.css');
@import url('../inputs.css');
@import url('./registernew_responsive.css');

.container{
    margin: 40px 10px 20px 10px;
}

.pag-header{
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
}

.search-container{
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--bg-color);
    font-size: 16px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.client-container{
    display: flex;
    padding: 10px;
    align-items: center;
}
.client-container p{
    font-size: 14px;
    font-weight: 600;
    margin-right: 5%;
    color: var(--bg-color);
}
.autocomplete-client{
    width: 50% !important;
    margin-right: 5%;
}

.checkbox-client{
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.checkbox-client::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox-client:checked::before {
    transform: scale(1);
    background-color: var(--bg-color);
  }

.checkbox-label{
    color: var(--bg-color);
    font-size: 14px;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table .row:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--bg-menu);
    color: #000;
}

.sales-unit{
    display: none;
}

.icon-cell{
    text-align: center;
    padding: 0;
}

.remove-icon{ content: url('../../images/delete.png') }

.remove-icon{
    width: 25px;
    transition: all 0.5s;
}
.remove-icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.sale-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.sale-info p{
    font-size: 16px;
    font-weight: 600;
}

#btnRegisterSale{
    margin-right: 0 !important;
}