@import url('../config.css');
@import url('./view_responsive.css');

#container{
    margin: 20px auto 20px auto;
    width: 55vw;
    display: flex;
    flex-direction: column;
}

.info-text{
    font-size: 1rem;
    margin: 10px auto 0 auto;
}


.option-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow:  5px 5px 4px #b5b5b5,
    -5px -5px 4px #ffffff;
    z-index: 0;
}

.option-bg{
    background: var(--content-gradient);
    background-size: contain;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 50%;
    transition: all 0.2s;
}

.option-bg:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.description{
    color: #000;
    font-weight: 300;
    width: 40%;
    text-align: center;
    margin: auto;
}

#salesToday{    
    content: url('../../images/sales_today.png');
}
#salesMonth{    
    content: url('../../images/sales_month.png');
}
#productsStock{    
    content: url('../../images/products_stock.png');
}
#productsAll{    
    content: url('../../images/products_all.png');
}